header {
  display: flex;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-inline: 10px;
  height: 70px;
  z-index: 99999999;
  border: none !important;
  border-bottom: 1px solid var(--accent) !important;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-weight: bolder;
}
header .logo svg {
  cursor: pointer;
  width: 24px;
  height: 24px;
}
header .logo img {
  width: 40px;
  object-fit: cover;
  margin-left: 10px;
  cursor: pointer;
}
header .logo .lg:hover {
  text-decoration: underline;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header nav .filter,
header nav .notification,
header nav .help,
header nav .profile,
header nav .backButton,
header nav .music {
  width: 50px;
  cursor: pointer;
  height: 50px;
  transition: all 0.5s ease;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .filter img,
header nav .notification img,
header nav .help img,
header nav .profile img,
header nav .backButton img,
header nav .music img {
  border-radius: 100px;
  object-fit: cover;
}
header nav .filter:hover,
header nav .notification:hover,
header nav .help:hover,
header nav .profile:hover,
header nav .backButton:hover,
header nav .music:hover {
  background: var(--accent);
}
header nav .filter svg,
header nav .notification svg,
header nav .help svg,
header nav .profile svg,
header nav .backButton svg,
header nav .music svg {
  width: 23px;
  height: 23px;
}
header nav .backButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}
header nav .notification {
  position: relative;
}
header nav .notification .number {
  position: absolute;
  top: 2%;
  right: 2%;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  text-align: center;
  color: #fff;
  width: 20px;
  height: 20px;
  font-size: x-small;
  border: 2px solid var(--bg-color);
}
header nav .profile {
  z-index: 100000000000;
  position: relative;
  padding: 10px;
}
header nav .profile img {
  width: 45px;
  height: 45px;
  border: 0.5px solid gary;
  border-radius: 50px;
  object-fit: cover;
}
header nav .profile .profile-bar {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: all 0.5s ease;
  position: absolute;
  width: 300px;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.014);
  backdrop-filter: blur(10px);
  border: 1px solid var(--accent);
  top: 115%;
  right: 10px;
}
header nav .profile .profile-bar.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
header nav .profile .profile-bar hr {
  outline: none;
  border: none;
  height: 1px;
  background: var(--accent);
}
header nav .profile .profile-bar .header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-block: 5px;
}
header nav .profile .profile-bar .header .name {
  display: flex;
  flex-direction: column;
  font-size: 13px !important;
}
header nav .profile .profile-bar .header .name span:nth-child(1) {
  font-size: 15px;
  font-weight: bolder;
}
header nav .profile .profile-bar .menus {
  list-style: none;
  margin-block: 10px;
}
header nav .profile .profile-bar .menus li a {
  font-size: small;
  padding: 10px 10px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  outline: none;
  transition: all 0.5s ease;
}
header nav .profile .profile-bar .menus li a svg {
  width: 20px;
  height: 20px;
}
header nav .profile .profile-bar .menus li a:hover, header nav .profile .profile-bar .menus li a:focus {
  background: var(--accent);
}
header nav .profile .profile-bar .theme {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.001);
  border: 1px solid var(--accent);
  border-radius: 10px;
}
header nav .profile .profile-bar .theme input {
  display: none;
}
header nav .profile .profile-bar .theme label {
  cursor: pointer;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 10px;
}
header nav .profile .profile-bar .theme label:has(input:checked) {
  background: var(--bg-color);
}
header nav .profile .profile-bar .theme label svg {
  width: 20px;
  height: 20px;
}
header nav .searchResult {
  position: relative;
  width: 40vw;
}
header nav .searchResult .search {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--accent);
  width: 40vw;
  border-radius: 10px;
  padding-inline: 10px;
  padding-block: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}
header nav .searchResult .search:has(input:focus), header nav .searchResult .search:hover {
  outline: 2px solid var(--accent);
  outline-offset: 2px;
}
header nav .searchResult .search input {
  padding-block: 10px;
  padding-inline: 5px;
  width: 90%;
  border: none;
  border-radius: 50px;
  outline: none;
  font-family: "Segoe UI", Tahoma, sans-serif;
}
header nav .searchResult .search input::placeholder {
  font-family: "Segoe UI", Tahoma, sans-serif;
  color: var(--color);
}
header nav .searchResult .search input:not(:placeholder-shown) + kbd {
  display: none;
}
header nav .searchResult .search svg {
  width: 23px !important;
  height: 23px !important;
}
header nav .searchResult .results {
  position: absolute;
  top: 110%;
  left: 0;
  width: inherit;
  z-index: 100000;
  background: rgba(0, 0, 0, 0.021);
  backdrop-filter: blur(10px);
  padding: 10px;
  display: none;
  border-radius: 10px;
}
header nav .searchResult .results.active {
  display: block !important;
}
header nav .searchResult .results ul {
  list-style: none;
  max-height: 400px;
  overflow-y: scroll;
}
header nav .searchResult .results ul li a {
  font-size: small;
  padding: 5px 10px;
}
header nav .searchResult .results ul li a:hover:focus {
  background: var(--bg-color);
  border-radius: 10px;
}
header nav .searchResult .results ul li a svg {
  width: 20px;
  height: 20px;
}

/*# sourceMappingURL=Header.css.map */
