<div class="quick_action" style="z-index: 100000;">
    <span class="qc_icon" data-tooltip="Quick Actions">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-plus-icon lucide-plus">
            <path d="M5 12h14" />
            <path d="M12 5v14" />
        </svg>
    </span>

    <ul class="acctions">
        <li onclick="window.location.assign('/card/create')"><span><svg xmlns="http://www.w3.org/2000/svg" width="20"
                    height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-square-dashed-bottom-code-icon lucide-square-dashed-bottom-code">
                    <path d="M10 9.5 8 12l2 2.5" />
                    <path d="M14 21h1" />
                    <path d="m14 9.5 2 2.5-2 2.5" />
                    <path d="M5 21a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2" />
                    <path d="M9 21h1" />
                </svg></span><span>New Snippet</span></li>
        <li onclick="openCreateFolderModal(event)"><span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="lucide lucide-folder-plus-icon lucide-folder-plus">
                    <path d="M12 10v6" />
                    <path d="M9 13h6" />
                    <path
                        d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z" />
                </svg></span><span>New Folder</span></li>
        <li onclick="window.location.assign('/import-export')"><span><svg xmlns="http://www.w3.org/2000/svg" width="20"
                    height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-up-icon lucide-file-up">
                    <path
                        d="M6 22a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h8a2.4 2.4 0 0 1 1.704.706l3.588 3.588A2.4 2.4 0 0 1 20 8v12a2 2 0 0 1-2 2z" />
                    <path d="M14 2v5a1 1 0 0 0 1 1h5" />
                    <path d="M12 12v6" />
                    <path d="m15 15-3-3-3 3" />
                </svg></span><span>Import Snippet</span></li>

        <li onclick="window.location.assign('/recyclebin')"><span><svg xmlns="http://www.w3.org/2000/svg" width="20"
                    height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-recycle-icon lucide-recycle">
                    <path d="M7 19H4.815a1.83 1.83 0 0 1-1.57-.881 1.785 1.785 0 0 1-.004-1.784L7.196 9.5" />
                    <path d="M11 19h8.203a1.83 1.83 0 0 0 1.556-.89 1.784 1.784 0 0 0 0-1.775l-1.226-2.12" />
                    <path d="m14 16-3 3 3 3" />
                    <path d="M8.293 13.596 7.196 9.5 3.1 10.598" />
                    <path
                        d="m9.344 5.811 1.093-1.892A1.83 1.83 0 0 1 11.985 3a1.784 1.784 0 0 1 1.546.888l3.943 6.843" />
                    <path d="m13.378 9.633 4.096 1.098 1.097-4.096" />
                </svg></span><span>Recycle Bin</span></li>
        <li onclick="window.location.assign('/settings')"><span><svg xmlns="http://www.w3.org/2000/svg" width="20"
                    height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-cog-icon lucide-cog">
                    <path d="M11 10.27 7 3.34" />
                    <path d="m11 13.73-4 6.93" />
                    <path d="M12 22v-2" />
                    <path d="M12 2v2" />
                    <path d="M14 12h8" />
                    <path d="m17 20.66-1-1.73" />
                    <path d="m17 3.34-1 1.73" />
                    <path d="M2 12h2" />
                    <path d="m20.66 17-1.73-1" />
                    <path d="m20.66 7-1.73 1" />
                    <path d="m3.34 17 1.73-1" />
                    <path d="m3.34 7 1.73 1" />
                    <circle cx="12" cy="12" r="2" />
                    <circle cx="12" cy="12" r="8" />
                </svg></span><span>Settings</span></li>
    </ul>
</div>

<script>
    document.querySelector(".qc_icon").addEventListener("click", () => {
        document.querySelector(".acctions").classList.toggle("active")
        document.body.classList.add("active")
    })

    document.addEventListener("click", (e) => {
        if (e.target.closest(".acctions") || e.target.closest(".qc_icon")) return
        document.body.classList.remove("active")
        document.querySelector(".acctions").classList.remove("active")
    })

    async function getAccent() {
        const data = await fetch("/settings/list", {
            method: "GET",
            credentials: "include"
        })
        const settings = await data.json();
        if (settings.accentColorv2 === "default") {
            document.documentElement.style.setProperty("--accent2", "rgba(44, 44, 228, 0.788)");
            return;
        }
        document.documentElement.style.setProperty("--accent2", settings.accentColorv2);
    }

    getAccent();


</script>