<style>
    .quote {
        display: inline-block;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        transition: all 0.4s ease;
        white-space: nowrap;
        font-size: larger;
        transform: rotateZ(0deg);
        perspective: 600px;
    }

    .quote.fade-out {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
        transform: rotateX(10deg);
    }

</style>

<div class="loader_container">
    <div class="loader">
        <span class="logo" style="z-index: 1000000;">
            <svg width="200" height="200" viewBox="0 0 520 520" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M74.5 294.5V86L76.5 83L78.5 80L81 78L84.5 76.5H178.5L182.5 78L185.5 81L188 86.5V189.5L81.5 297.5H76.5L74.5 294.5Z"
                    fill="black" />
                <path
                    d="M333 81L151.5 262.5L150 264.5V267.5L151.5 273.5L325.5 446.5L328 448L330 449.5H444H446.5L448.5 447.5V444L447.5 442L446 439.5L282 273.5L280 268V264L282 260L286 256L290 252.5L457 85.5L457.5 82.5V79.5L456 77.5H451.5H340L337 78.5L333 81Z"
                    fill="black" />
                <path
                    d="M187.5 342.5L188 441L186.5 444L184.5 447L183 448L180 449H82.5L80.5 448L78.5 447L77 445L76.5 443L75 441V344.5L77 341.5L79 339L80.5 338L84.5 336H176H179.5L181.5 337L184 339L187.5 342.5Z"
                    fill="black" />
                <path
                    d="M74.5 294.5V86L76.5 83L78.5 80L81 78L84.5 76.5H178.5L182.5 78L185.5 81L188 86.5V189.5L81.5 297.5H76.5L74.5 294.5Z"
                    stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                <path
                    d="M333 81L151.5 262.5L150 264.5V267.5L151.5 273.5L325.5 446.5L328 448L330 449.5H444H446.5L448.5 447.5V444L447.5 442L446 439.5L282 273.5L280 268V264L282 260L286 256L290 252.5L457 85.5L457.5 82.5V79.5L456 77.5H451.5H340L337 78.5L333 81Z"
                    stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                <path
                    d="M187.5 342.5L188 441L186.5 444L184.5 447L183 448L180 449H82.5L80.5 448L78.5 447L77 445L76.5 443L75 441V344.5L77 341.5L79 339L80.5 338L84.5 336H176H179.5L181.5 337L184 339L187.5 342.5Z"
                    stroke="black" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </span>
        <span><span style="white-space: nowrap; font-size: larger;" class="quote" style="z-index: 1000000;"></span>
    </div>
</div>

<script>
   const quotes = [
        "Preparing your workspace…",
        "Setting things up for you…",
        "Loading your tools…",
        "Fetching your data…",
        "Getting everything ready…",
        "Almost there…",
        "Your experience is loading…",
        "Lining things up for a smooth start…",
        "Organizing your content…",
        "Setting up the environment…",
        "Just a moment, polishing the interface…",
        "Optimizing your experience…",
        "Building your dashboard…",
        "Cleaning things up before you begin…",
        "Opening the workspace for you…"
    ];

    const quoteEl = document.querySelector(".quote");
    let index = 0;

    function updateQuote() {
        quoteEl.classList.add("fade-out");

        setTimeout(() => {
            quoteEl.textContent = quotes[index];
            quoteEl.classList.remove("fade-out");
            index = (index + 1) % quotes.length;
        }, 400);
    }

    updateQuote();
    setInterval(updateQuote, 2500);

    window.addEventListener("load", () => {
        const loader = document.querySelector(".loader_container");
        loader.classList.add("hide");

        setTimeout(() => {
            loader.style.display = "none";
        }, 500);
    });

</script>