<div
  id="no-data"
  style="
    text-align: center;
    width: 100%;
    font-size: 20px;
    color: gray;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 70vh;
  "
>
  <img src="/assets/Stickers/nothing.png" alt="" />
  <a
    href="/card/create"
    style="border: 1px solid gray; padding: 5px 10px; border-radius: 5px"
    >+ Create Snippet</a
  >
  No Snippets found. Create a new Snippet to get started!
</div>
