<div class="no-data" style="display:flex; width: 100%; justify-content: center; align-items: center;flex-direction: column; z-index: 9999;">
  <!-- <img src="https://cdni.iconscout.com/illustration/premium/thumb/not-found-illustration-svg-download-png-9160601.png" alt="No Data Found..." width="200px"> -->
  <p style="font-size: 1.5em; font-weight: bold;">No Data Found</p>
  <p>Create a snippet to get started</p>
</div>