<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cards | Code Snippet Manager</title>
    <link rel="stylesheet" href="/style/css/index.css" />   
    <link rel="stylesheet" href="/style/css/partials/Header.css">
    <link rel="stylesheet" href="/style/css/partials/Fab.css">
    <link rel="stylesheet" href="/style/css/ad_search.css">
    <link rel="stylesheet" href="/style/css/Notification.css">
    <link rel="stylesheet" href="/style/css/notificationBar.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/assets/logo.png" type="image/png" />
    <script src="https://unpkg.com/colorthief/dist/color-thief.umd.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body data-theme="light">
    <%- include('partials/header', {image}) -%>

        <div class="container">
                <main>
                    <iframe width="315" height="576" src="https://www.youtube.com/embed/mjut6LIQ_eA" title="Big Fails 😂😂😂"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <%- include("partials/fab")%>
                </main>
        </div>
        <script>
            window.USER_ID = "<%= userId %>";
        </script>
        <script src="/scripts/searchFunction.js"></script>
        <script src="/scripts/ad_search.js"></script>
        <script src="/scripts/Notification.js"></script>
        <script src="/scripts/Fab.js"></script>
</body>

</html>