<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error | Code Snippet Manager</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/assets/logo.webp" type="image/png" />
    <style>
        body {
            font-family: "Poppins", sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            overflow: hidden;
        }

        .error-container {
            text-align: center;
            backdrop-filter: blur(8px);
            padding: 3rem 4rem;
            border-radius: 1.5rem;
            animation: fadeIn 0.8s ease-in-out;
        }

        .error-container svg {
            width: 200px;
            height: 200px;
            margin-bottom: 1rem;
            animation: float 3s ease-in-out infinite;
        }

        .error-container h1 {
            font-size: 3rem;
            margin-bottom: 1rem;
        }

        .error-container p {
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }

        .error-container a {
            display: inline-block;
            text-decoration: none;
            padding: 0.8rem 1.5rem;
            border-radius: 50px;
            transition: 0.3s;
            font-weight: 500;
        }

        .error-container a:hover {
            transform: translateY(-3px);
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: scale(0.95);
            }

            to {
                opacity: 1;
                transform: scale(1);
            }
        }

        @keyframes float {

            0%,
            100% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-10px);
            }
        }
    </style>
</head>

<body data-theme="light">
    <div class="error-container">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-shield-alert-icon lucide-shield-alert">
            <path
                d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z" />
            <path d="M12 8v4" />
            <path d="M12 16h.01" />
        </svg> -->
        <h1>Oops!</h1>
        <p>
            <%= error %>
        </p>
    </div>
</body>

</html>