<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= fName%> | Code Snippet Manager
    </title>
    <link rel="stylesheet" href="/style/css/partials/Header.css">
    <link rel="stylesheet" href="/style/css/ad_search.css">
    <link rel="stylesheet" href="/style/css/Notification.css">
    <link rel="stylesheet" href="/style/css/chip.css">
    <link rel="stylesheet" href="/style/css/card.css">
    <link rel="stylesheet" href="/style/css/toast.css">
    <link rel="stylesheet" href="/style/css/index.css">
    <link rel="stylesheet" href="/style/css/folders.css">
         <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/assets/logo.webp" type="image/png" />
    <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.6.2/dist/dotlottie-wc.js" type="module"></script>
    <link rel="preload" href="/gEzG0w1WVY.lottie" as="fetch" crossorigin="anonymous" />
    <link rel="manifest" href="manifest.json" />
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <div class="content">
        <%- include("partials/header.ejs")%>
            <div class="container">
                <%- include("partials/sidebar.ejs", {navigation:"folder"}) %>
                 <main>
                    <div class="folders">
                        <% folders.forEach((el)=>{ %>
                            <div class="folder">
                                <div class="folder-icon">
                                    <img src="\assets\fillFolder.png" width="50px" />
                                </div>
                                <div class="folder-name">
                                    <%- el.folderName%>
                                </div>
                            </div>
                            <%}) %>
                    </div>
                    <div id="cards"></div>
                 </main>
            </div>
    </div>




    <script src="\scripts\home.js"></script>
    <script src="\scripts\shortcut.js"></script>
    <script src="\scripts\index.js"></script>
    <script src="\scripts\context_menu.js"></script>
    <script src="\scripts\Notification.js"></script>
    <script src="\scripts\ad_search.js"></script>
    <script src="\scripts\isonline.js"></script>
    <script src="\scripts\header.js"></script>
    <script src="\scripts\searchFunction.js"></script>

</body>

</html>