<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <span class="img"></span>
                <span class="name"></span>
            </div>
            <div class="btns">
                <a href="/login" class="login_btn">Sign In</a>
                <a href="/signup" class="signup_btn">Sign Up</a>
            </div>
        </header>
        <main></main>
        <footer></footer>
    </div>
</body>

</html>