<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login | Code Snippet Manager</title>
  <link rel="stylesheet" href="/style/css/login.css" />
  <link rel="stylesheet" href="/style/css/toast.css" />
  <!-- <link rel="stylesheet" href="/style/css/index.css"> -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/assets/logo.webp" type="image/png" />
  <script src="https://cdn.jsdelivr.net/npm/@codewithajoydas/toastmaster@2.3.5/dist/toaster.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@codewithajoydas/toastmaster@2.3.5/dist/toaster.min.css">
  <style>
    .loader {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100%;
      position: fixed;
      background: white;
      z-index: 100000;
      top: 0;
      font-size: clamp(30px, 3vw, 40px);

      font-weight: bolder;
    }

    .spain {
      width: 0.5em;
      height: 0.5em;
      background: #000000;
      border-radius: 50%;
      margin: 5px;
      animation: spin 0.6s ease-in-out infinite;
    }

    .spain:nth-child(1) {
      animation-delay: 0.1s;
    }

    .spain:nth-child(2) {
      animation-delay: 0.2s;
    }

    .spain:nth-child(3) {
      animation-delay: 0.3s;
    }

    @keyframes spin {
      0% {
        transform: translateY(0);
      }

      50% {
        transform: translateY(-10px);
      }

      100% {
        transform: translateY(0);
      }
    }
  </style>
</head>

<body data-theme="light">


  <div class="loader">
    <div style="display: flex; justify-content: center; align-items: end">
      Loading
      <div class="spain"></div>
      <div class="spain"></div>
      <div class="spain"></div>
    </div>
  </div>
  <div class="container">
    <!-- Section for Inputs -->
    <div class="div1">
      <img src="/assets/wordmark.png" alt="" width="70px" />
      <h1 style="font-weight: 600;">Log-In</h1>
      <h4>Welcome Back to CMD — Where Your Code Finds Order.</h4>
      <form action="/login" method="post" id="signupForm">
        <span>
          <label for="email">Email <sup>*</sup></label>
          <input type="email" name="email" id="email" placeholder="Enter Your Email... " required />
        </span>
        <span>
          <label for="password">Password <sup>*</sup></label>
          <input type="password" name="password" id="password" placeholder="Enter Your Password..." required />
          <div style="text-align: end; color: gray; font-size: small">
            <a href="/forgotPass" style="text-decoration: none" onclick="verifyEmail()" id="forgotlink">Forgot
              Password</a>
          </div>
        </span>

        <button type="submit">Login</button>
        <a href="/signup" style="margin-top: 10px;">Create an account</a>
        <div style="
              display: flex;
              width: 350px;
              align-items: center;
              justify-content: center;
              gap: 20px;
              margin-block: 10px;
            ">
          <div style="
                border-top: 0.2px solid rgba(104, 104, 104, 0.712);
                flex: 1;
              "></div>
          Or
          <div style="border-top: 0.2px solid rgba(87, 87, 87, 0.76); flex: 1"></div>
        </div>
        <div class="external">
          <div class="google_login">
            <img
              src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-icon-png-transparent-background-osteopathy-16.png"
              alt="" />
            <span><a href="/auth/google">Google</a></span>
          </div>
          <br />
          <div class="github_login">
            <img src="https://cdn-icons-png.flaticon.com/512/733/733609.png" alt="" />
            <span><a href="/auth/github/">Github</a></span>
          </div>
        </div>
      </form>
    </div>
    <!-- Section for Inputs End-->

    <!-- ============================= X =============================-->

    <!-- Section for images -->
    <div class="div2">
      <img src="\assets\coding-bg.jpg" alt="" width="100%" />
      <span class="credit">Photo by <strong>Shubham Dhage</strong> on
        <a href="https://unsplash.com/photos/field-of-daisies-against-a-soft-blue-sky-cFuC4zUW8Lw">Unsplash</a></span>
    </div>
    <!-- Section for images End -->
  </div>
  <script>
    window.onload = () => {
      let loader = document.querySelector(".loader");
      loader.style.display = "none";
    };
  </script>
  <script>
    const notificationA = new Toastmaster();

    async function verifyEmail() {
      const email = document.getElementById("email").value;
      localStorage.setItem("email", email);
      new Toastmaster({ title: "Sending email", message: "Please wait...", type: "success", delay: 5000 }).showNotification()
      if (email) {
        const response = await fetch("/forgotPass", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          credentials: "include",
          body: JSON.stringify({ email }),
        });
        if (response.ok) {
          new Toastmaster({ title: "Email sent successfully", message: "Please check your inbox", type: "success", delay: 3000 }).showNotification()
          window.location.href = "/forgotPass/verify";
        }
      } else {
        new Toastmaster({ title: "Error", message: "Please enter your email", type: "error", delay: 3000 }).showNotification()
      }
    }
    document.querySelector("#forgotlink").addEventListener("click", (e) => {
      e.preventDefault()
    })
  </script>
</body>

</html>