<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verify password</title>
</head>

<body>
    <form action="verifyOtp" method="post">
        <input type="text" placeholder="enter your otp" name="otp">
        <input type="submit" value="submit">
    </form>
</body>
</html>