<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Verify OTP | Code Snippet Manager</title>
  <link rel="stylesheet" href="/style/css/login.css" />
  <link rel="stylesheet" href="/style/css/index.css">
      <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/assets/logo.webp" type="image/png" />
  <script src="https://cdn.jsdelivr.net/npm/@codewithajoydas/toastmaster@2.3.5/dist/toaster.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@codewithajoydas/toastmaster@2.3.5/dist/toaster.min.css">
  <style>
    .loader {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100%;
      position: fixed;
      background: white;
      z-index: 100000;
      top: 0;
      font-size: clamp(30px, 3vw, 40px);

      font-weight: bolder;
    }

    .spain {
      width: 0.5em;
      height: 0.5em;
      background: #000000;
      border-radius: 50%;
      margin: 5px;
      animation: spin 0.6s ease-in-out infinite;
    }

    .spain:nth-child(1) {
      animation-delay: 0.1s;
    }

    .spain:nth-child(2) {
      animation-delay: 0.2s;
    }

    .spain:nth-child(3) {
      animation-delay: 0.3s;
    }

    @keyframes spin {
      0% {
        transform: translateY(0);
      }

      50% {
        transform: translateY(-10px);
      }

      100% {
        transform: translateY(0);
      }
    }

    #otp-label {
      display: flex;
      flex-direction: column;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    #otp {
      width: 80%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      outline: none;
    }

    .varify-btn {
      background: black;
      color: white;
      width: 80%;
      padding: 15px 40px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  </style>
</head>

<body data-theme="light">
  <div class="loader">
    <div style="display: flex; justify-content: center; align-items: end">
      Loading
      <div class="spain"></div>
      <div class="spain"></div>
      <div class="spain"></div>
    </div>
  </div>
  <div class="container">
    <!-- Section for Inputs -->
    <div class="div1" style="display: flex;flex-direction: column;justify-content: start; align-items: center;">
      <img src="\assets\wordmark.png" alt="" width="70px" />
      <h1>Verify OTP</h1>
      <p style="margin: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-align: center;">Enter the
        6-digit OTP sent to your registered mobile or email.</p>
      <br><br>
      <label for="otp" id="otp-label">
        <b>Enter Your OTP </b>
        <input type="text" placeholder="XXXXXX" id="otp" style="margin-top:10px">
        <span
          style="font-size: smaller; float: right; text-align: right !important;padding-block: 10px; color: rgb(65, 65, 233);display: flex;justify-content: end;align-items: center;gap: 5px;"
          class="otp-r"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-rotate-ccw-icon lucide-rotate-ccw">
            <path d="M3 12a9 9 0 1 0 9-9 9.75 9.75 0 0 0-6.74 2.74L3 8" />
            <path d="M3 3v5h5" />
          </svg> Resend OTP</span>
      </label>

      <button onclick="varify(this)" disabled class="varify-btn" style="width: 85%;">Verify OTP</button>
    </div>
    <!-- Section for Inputs End-->

    <!-- ============================= X =============================-->

    <!-- Section for images -->
    <div class="div2">
      <img src="/assets/login-banner.jpg" alt="" width="100%" />
      <span class="credit">Photo by <strong>Shubham Dhage</strong> on
        <a href="https://unsplash.com/photos/field-of-daisies-against-a-soft-blue-sky-cFuC4zUW8Lw">Unsplash</a></span>
    </div>
    <!-- Section for images End -->
  </div>
  <script>
    const notificationA = new Toastmaster();

    document.getElementById("otp").addEventListener("input", () => {
      if (document.getElementById("otp").value.length === 6) {
        document.querySelector(".varify-btn").disabled = false;
      }else{
        document.querySelector(".varify-btn").disabled = true;
      }
    })

    window.onload = () => {
      let loader = document.querySelector(".loader");
      loader.style.display = "none";
      let resend = document.querySelector(".otp-r");
      let email = localStorage.getItem("email");
      let time = localStorage.getItem("time") ?? 60;
      resend.innerHTML = `Resend OTP ${time}s`;
      let interval = setInterval(async () => {
        time--;
        resend.textContent = `Resend OTP ${time}s`;
        if (time === 0) {
          clearInterval(interval);
          resend.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-rotate-ccw-icon lucide-rotate-ccw">
            <path d="M3 12a9 9 0 1 0 9-9 9.75 9.75 0 0 0-6.74 2.74L3 8" />
            <path d="M3 3v5h5" />
          </svg> Resend OTP`;
          resend.onclick = () => resendOtp();
          resend.style.cursor = "pointer";
        }
      }, 1000);
    }
    async function resendOtp() {
      new Toastmaster({ title: "Sending email", message: "Please wait...", type: "success", delay: 5000 }).showNotification()

      let email = localStorage.getItem("email");
      let res = await fetch("/forgotPass/resend", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ email }),
      });
      let data = await res.json();
      if (res.ok) {
        new Toastmaster({ title: "Email sent", message: "Please check your inbox", type: "success", delay: 5000 }).showNotification()

      }
    }
    async function varify() {
      let otp = document.querySelector("#otp").value;
      try {
        let res = await fetch("/forgotPass/verifyOtp", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ otp }),
          credentials: "include"
        })
        let data = await res.json();
        if (res.ok) {
          console.log(res)
          window.location.href = "/forgotPass/reset";
        } else {
          new Toastmaster({ title: "Sending email failed", message: "Please try again...", type: "error", delay: 5000 }).showNotification()
        }
      } catch (error) {
        new Toastmaster({ title: "Error", message: `${error.message}`, type: "error", delay: 5000 }).showNotification()
        
      }
    }

  </script>
</body>

</html>