<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>verify password</title>
    <style>
      .loader {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        position: fixed;
        background: white;
        z-index: 100000;
        top: 0;
        font-size: clamp(30px, 3vw, 40px);

        font-weight: bolder;
      }

      .spain {
        width: 0.5em;
        height: 0.5em;
        background: #000000;
        border-radius: 50%;
        margin: 5px;
        animation: spin 0.6s ease-in-out infinite;
      }

      .spain:nth-child(1) {
        animation-delay: 0.1s;
      }

      .spain:nth-child(2) {
        animation-delay: 0.2s;
      }

      .spain:nth-child(3) {
        animation-delay: 0.3s;
      }

      @keyframes spin {
        0% {
          transform: translateY(0);
        }

        50% {
          transform: translateY(-10px);
        }

        100% {
          transform: translateY(0);
        }
      }
    </style>
  </head>

  <body data-theme="light">
    <div class="loader">
      <div style="display: flex; justify-content: center; align-items: end">
        Loading
        <div class="spain"></div>
        <div class="spain"></div>
        <div class="spain"></div>
      </div>
    </div>
    <form action="verifyOtp" method="post">
      <input type="text" placeholder="enter your otp" name="otp" />
      <input type="submit" value="submit" />
    </form>
  </body>
  <script>
    window.onload = () => {
      let loader = document.querySelector(".loader");
      loader.style.display = "none";
    };
  </script>
</html>
