@font-face {
  font-family: "Mulish";
  src: url("../../assets/Mulish/Mulish-VariableFont_wght.ttf") format("truetype");
}
.snippet-editor {
  background: var(--bg-color);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  height: fit-content !important;
  position: relative;
  border: none !important;
}
.snippet-editor input,
.snippet-editor textarea,
.snippet-editor select {
  background: var(--accent) !important;
  border-radius: 5px !important;
  padding: 10px;
  outline: none !important;
  border: none !important;
  border-bottom: none !important;
  background: var(--bg-color);
  color: var(--color);
}
.snippet-editor input option,
.snippet-editor textarea option,
.snippet-editor select option {
  background: var(--bg-color);
  color: var(--color);
}
.snippet-editor label {
  font-size: 15px !important;
}
.snippet-editor label svg {
  width: 18px;
  height: 18px;
}
.snippet-editor::-webkit-scrollbar {
  display: none;
}
.snippet-editor .snippet-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
  background: none !important;
  height: fit-content !important;
  border: none !important;
  gap: 20px;
}
.snippet-editor .snippet-header label {
  color: var(--color);
  display: flex;
  font-weight: bold;
  row-gap: 10px;
  column-gap: 10px;
  flex: 1;
  font-size: 14px !important;
}
.snippet-editor .snippet-header label input {
  padding-block: 10px;
  display: inline-block !important;
  border: none;
  width: 70%;
  border: none !important;
  outline: none;
  background: none;
}
.snippet-editor .snippet-header label input::placeholder {
  color: var(--color);
}
.snippet-editor .editor-section {
  margin: 10px;
  width: 100%;
}
.snippet-editor .editor-section .editor-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
  height: fit-content !important;
  background: none;
  border: none !important;
}
.snippet-editor .editor-section .editor-toolbar .editor-tools {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.snippet-editor .editor-section .editor-toolbar .editor-tools button {
  height: 40px;
  padding-inline: 10px;
  cursor: pointer;
}
.snippet-editor .editor-section .editor-toolbar .editor-tools button svg {
  width: 20px;
  height: 20px;
}
.snippet-editor .editor-section .editor-toolbar #category {
  outline: none;
  border-radius: 5px;
  height: 40px;
  text-align: left;
  padding-inline: 10px;
}
.snippet-editor .snippet-meta {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px;
  row-gap: 20px;
  column-gap: 40px;
}
.snippet-editor .snippet-meta .meta-field {
  width: 30%;
}
.snippet-editor .snippet-meta .meta-field label {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-bottom: 0.5px solid var(--accent);
}
.snippet-editor .snippet-meta .meta-field label input {
  padding-block: 10px;
  width: 100%;
  border: none;
  outline: none;
  background: none;
}
.snippet-editor textarea {
  margin-top: 10px;
  border: none;
  background: none;
  width: 100%;
  resize: vertical;
  outline: none;
  background: var(--bg-color);
  font-family: "Mulish", sans-serif;
  padding: 10px;
  border-radius: 5px;
}

.CodeMirror {
  background: var(--bg-color) !important;
  border-radius: 5px !important;
}

.CodeMirror-gutter {
  background: var(--accent) !important;
}

.add-readme {
  padding: 10px;
  border-radius: 5px;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.add-readme:hover {
  outline: 2px solid var(--accent);
  outline-offset: 2px;
}

.readme-container {
  background: var(--bg-color);
  width: 100%;
}
.readme-container .readme-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cursor {
  display: none !important;
}

.editor-toolbar {
  background: var(--accent);
}

#readme_title {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
#readme_title input {
  background: var(--accent);
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

#readme_desciption {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
#readme_desciption textarea {
  background: var(--accent);
  padding: 10px;
  margin: 0 !important;
  border: none;
  outline: none;
  border-radius: 5px;
}

.btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.btns button {
  border: none !important;
}
.btns .cancel {
  background: pink !important;
}

/*# sourceMappingURL=createSnippet.css.map */
