@font-face {
  font-family: "Mulish";
  src: url("../../assets/Mulish/Mulish-VariableFont_wght.ttf") format("truetype");
}
main .top-section {
  display: flex;
  margin-inline: 10px;
  align-items: end;
}
main .top-section .profile-image {
  padding: 10px;
  border-radius: 10px;
  animation: rotateBackground 1s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 230px;
  height: 230px;
  min-width: 230px;
  width: 230px;
}
main .top-section .profile-image img {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
main .top-section .user-info {
  margin-inline: 20px;
}
main .top-section .user-info .user-name {
  font-size: 20px;
  text-transform: capitalize;
}
main .top-section .user-info .userfollow {
  display: flex;
  align-items: center;
  margin-top: 10px;
  float: left !important;
}
main .top-section .user-info .userfollow span {
  border-radius: 5px;
  font-weight: bolder;
  border: 1px solid transparent;
  transition: all 0.5s ease;
}
main .top-section .user-info .userfollow span:hover {
  cursor: pointer;
  background: var(--secondary-bg-color);
  border: 1px solid var(--accent);
}
main .top-section .user-info .address {
  width: 300px;
  width: 300px;
  background: none;
  border: none;
  outline: none;
  color: var(--color);
  font-size: 15px;
  color: var(--color);
}
main .top-section .user-info .bio {
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 300px;
}
main .top-section .user-info .links {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
main .top-section .user-info .links a {
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
main .top-section .user-info .links a img {
  border-radius: 0 !important;
}
main .top-section .user-info .links a:hover {
  background: var(--accent);
}
main .top-section .user-info .links a svg {
  width: 20px;
  height: 20px;
}
main .top-section .user-info .btns {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
main .top-section .user-info .btns button {
  border: none;
}
main .top-section .user-info .btns .contact {
  background: var(--color);
}
main .top-section .counts {
  margin-inline: 20px;
  display: flex;
  align-items: end;
  gap: 100px;
}
main .top-section .counts .followers,
main .top-section .counts .following,
main .top-section .counts .cards {
  display: flex;
  flex-direction: column;
}
main .top-section .counts .followers span,
main .top-section .counts .following span,
main .top-section .counts .cards span {
  padding: 0;
}
main .top-section .counts .followers span:nth-child(1),
main .top-section .counts .following span:nth-child(1),
main .top-section .counts .cards span:nth-child(1) {
  font-size: 15px;
}
main .top-section .counts .followers span:nth-child(2),
main .top-section .counts .following span:nth-child(2),
main .top-section .counts .cards span:nth-child(2) {
  font-size: 45px;
  font-weight: bolder;
  color: var(--color);
}
main .top-section .options {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 20px;
}
main .top-section .options .visibility,
main .top-section .options .edit_profile {
  cursor: pointer;
  color: var(--color);
}
main .follow_user {
  margin-block: 10px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: 20px;
}
main .follow_user .userProfile {
  cursor: pointer;
  min-width: 200px;
  height: 200px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
main .follow_user .userProfile .user-info {
  text-align: center;
}
main .follow_user .userProfile img {
  width: 30%;
  height: 30%;
  object-fit: cover;
  border-radius: 50px;
}
main .dashboard {
  margin-top: 30px;
}
main .dashboard .d-header {
  border-bottom: 1px solid var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
main .dashboard .d-header label {
  padding: 10px 20px;
  border: 1px solid transparent;
  margin: 5px;
}
main .dashboard .d-header label input {
  display: none;
}
main .dashboard .d-header label:has(input:checked), main .dashboard .d-header label:hover, main .dashboard .d-header label:focus {
  background: var(--bg-color);
  border-radius: 10px;
  border: 1px solid var(--accent);
}

.update_profile {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.0002);
  backdrop-filter: blur(200px);
  min-height: 400px;
  min-width: 400px;
  z-index: 1000;
  border-radius: 20px;
  padding: 20px;
}

@keyframes rotateBackground {
  from {
    background-position: left top;
  }
  to {
    background-position: right top;
  }
}
.add-biography {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  width: 400px;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.0002);
  backdrop-filter: blur(20px);
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  border: 1px solid var(--accent);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  transition: all 0.5s ease;
  transform: scale(0);
}
.add-biography.active {
  transform: translate(-50%, -50%);
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}
.add-biography textarea {
  background: none;
  width: 100%;
  resize: vertical;
  height: 100px;
  border-radius: 10px;
  outline: none;
  border: 1px solid var(--accent);
  color: var(--color);
  font-family: "Mulish", sans-serif;
}

.add-links {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  width: 400px;
  background-color: rgba(0, 0, 0, 0.0002);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  position: absolute;
  border: 1px solid var(--accent);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  transition: all 0.5s ease;
  padding-inline: 10px;
}
.add-links.active {
  transform: translate(-50%, -50%);
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.links-inputs > label {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.links-inputs > label svg {
  width: 16px;
  height: 16px;
}
.links-inputs > label span {
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
  font-weight: 400;
  font-size: medium;
}
.links-inputs > label .url {
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: text;
  background: var(--bg-color);
  border-radius: 5px;
  margin-block: 5px;
}
.links-inputs > label .url .delete {
  width: 35px !important;
  height: 35px !important;
  margin: 2px;
  border-radius: 50%;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.links-inputs > label .url .delete svg {
  stroke: red;
}
.links-inputs > label .url .delete:hover {
  background: var(--accent);
}
.links-inputs > label .url span {
  background: var(--accent);
  padding: 10px;
  font-weight: 500;
  font-size: small;
  border-radius: 5px;
  height: 100%;
}
.links-inputs > label .url:has(input:focus) {
  outline: 2px solid var(--accent);
  outline-offset: 2px;
}
.links-inputs > label .url input {
  background: none;
  border: none;
  outline: none;
  width: 75%;
  padding-left: 5px;
  font-family: "Mulish", sans-serif;
}

.analytics {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 40px;
  margin: 10px;
}
.analytics a {
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}
.analytics a span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.analytics a svg {
  width: 20px;
  height: 20px;
}
.analytics a:hover {
  background: var(--accent);
}

.visibility,
.edit_profile,
.share_profile,
.downloadQr {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
}
.visibility svg,
.edit_profile svg,
.share_profile svg,
.downloadQr svg {
  width: 20px;
  height: 20px;
}
.visibility:hover, .visibility:active, .visibility:focus,
.edit_profile:hover,
.edit_profile:active,
.edit_profile:focus,
.share_profile:hover,
.share_profile:active,
.share_profile:focus,
.downloadQr:hover,
.downloadQr:active,
.downloadQr:focus {
  background: var(--accent);
}

.share_profile_container {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: all 0.2s ease;
  border: 1px solid var(--accent);
  position: fixed;
  box-shadow: 0 0 10px var(--accent);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
  padding: 10px;
  background: rgba(0, 0, 0, 0.0002);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  z-index: 10;
  gap: 10px;
}
.share_profile_container.active {
  transform: translate(-50%, -50%);
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}
.share_profile_container .qr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.share_profile_container .qr svg {
  border-radius: 10px;
}
.share_profile_container label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--accent);
}
.share_profile_container label span {
  padding: 10px;
  background: var(--accent);
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-right: 1px solid var(--accent);
  border-top: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
}
.share_profile_container label input {
  border: none;
  background: none;
  width: 100%;
  padding-inline: 10px;
  font-family: "Mulish", sans-serif;
  outline: none;
}

.edit_profile_picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.0002);
  backdrop-filter: blur(2px);
  box-shadow: 0px 0px 100px var(--color);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.2s ease;
  cursor: pointer;
}
.edit_profile_picture:hover {
  opacity: 1;
}

/*# sourceMappingURL=profile.css.map */
