.advanced-search {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-color);
  backdrop-filter: blur(10px);
  min-width: 300px;
  border: 1px solid var(--accent);
  padding: 10px;
  //   box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  text-align: center;
  border: 2px solid var(--accent);
  opacity: 0;
  visibility: hidden;
  pointer-events: all !important;
  clip-path: polygon(43% 48%, 44% 47%, 44% 48%, 43% 48%);
  transition: all 0.5s ease;
  &.active {
    opacity: 1;
    visibility: visible;
    clip-path: polygon(100% 100%, 0 100%, 0 0, 100% 0);
  }
  .feildList {
    columns: 2;
    label {
      text-align-last: left;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px;
      break-inside: avoid;
      input,
      textarea {
        border: none;
        border: 1px solid var(--accent);
        padding: 10px;
        border-radius: 5px;
        background: none;
        resize: none;
        &:focus,
        &:hover {
          outline: 2px solid var(--accent);
          outline-offset: 2px;
        }
        &::placeholder {
          color: gray;
        }
      }
    }
  }
  #searchBtn {
    width: 60%;
    background: var(--color);
    color: var(--bg-color);
  }
}
