body[data-theme="dark"] {
  --bg-color: rgb(20, 17, 17);
  --secondary-bg-color: #131212;
  --color: #fff;
  background: var(--bg-color);
  color: var(--color);
  --accent: #242424;
  --shadow: rgb(2, 2, 2);
}

body[data-theme="light"] {
  --bg-color: #ffffff;
  --secondary-bg-color: #f1f1f1;
  --color: #000000;
  --accent: #24242417;
  background: var(--bg-color);
  color: var(--color);
  --shadow: rgba(0, 0, 0, 0.116);
}
$accent: #2e2e2e21;
#cards,
#cards1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;
  .card {
    box-shadow: 4px 4px 4px var(--shadow);
    transition: all 0.2s ease;
    min-width: 400px;
    position: relative;
    margin-block: 5px;
    margin-inline: 5px;
    background-color: var(--bg-color) !important;
    position: relative;
    border-radius: 10px;
    backdrop-filter: blur(10px) !important;
    &:has(.select-card:checked) {
      outline: 2px solid var(--accent2);
      outline-offset: 2px;
      backdrop-filter: blur(100px);
      object-fit: contain;
    }
    .header-info {
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline: 10px;
      .menu_top,
      .restore {
        svg {
          width: 20px;
        }
        cursor: pointer;
      }
      .title {
        p {
          font-size: 20px !important;
        }
        div .author,
        .lan,
        .time {
          font-size: smaller;
        }
      }
    }
    .code {
      background: var(--secondary-bg-color) !important;
      padding: 3px 10px !important;
      margin: 10px;
      border: 1px solid var(--accent);
      border-radius: 10px;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;

      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;

      line-height: 1.2em;
      font-family: "Courier New", Courier, monospace !important;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      .span {
        padding: 5px 20px;
        border-radius: 10px;
        background: var(--accent);
        font-size: small;
        cursor: pointer;
        border: 0.5px solid transparent;
        transition: all 0.2s ease;
        &:hover {
          border: 0.5px solid var(--accent);
          background: none;
        }
      }
      padding: 10px;
      margin: 10px;
    }
    .options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px;
      .sub_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        svg {
          width: 20px;
          cursor: pointer;
          &.active {
            fill: var(--color);
          }
        }
      }
      .open {
        background: var(--accent2);
        // color: var(--bg-color);
        padding: 10px 20px;
        border-radius: 10px;
        transition: all 0.2s ease;
        a {
          text-decoration: none;
          background: none !important;
          outline: 2px solid transparent;
        }
        &:hover {
          outline: 2px solid var(--accent2);
          outline-offset: 2px;
        }
      }
    }
    .menu {
      display: flex;
      position: absolute;
      top: 50px;
      right: 10px;
      flex-direction: column;
      break-inside: avoid;
      gap: 10px;
      background: var(--accent);
      border: 1px solid gray;
      width: 200px;
      backdrop-filter: blur(100px) !important;
      padding: 10px;
      border-radius: 10px;
      transition: all 0.5s;
      opacity: 1;
      &.active {
        display: none;
        opacity: 0;
      }
      li {
        text-decoration: none;
        list-style: none;
        border: 1px solid rgb(255, 255, 255);
        color: var(--color);
        padding: 10px 20px;
        transition: all 0.5s;
        border-radius: 10px;
        &:hover {
          background: #00000038;
        }
      }
    }
  }
}

.cardContainer-header {
  margin-block: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .card-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: 1px solid var(--accent);
    padding: 5px;
    border-radius: 100px;
    &.disabled {
      opacity: 0.5;
      div {
        cursor: not-allowed;
      }
    }
    div {
      &:nth-child(1) {
        font-size: small;
      }
      width: 40px;
      height: 40px;
      background: var(--accent);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      cursor: pointer;
      svg {
        min-width: 20px !important;
        min-height: 20px !important;
        width: 20px !important;
        height: 20px !important;
      }
    }
  }
}

@keyframes fadeUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
