@import "_variables";
.snippet-editor {
  background: var(--bg-color);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  input,
  textarea,
  select {
    background: var(--accent) !important;
    border-radius: 5px !important;
    padding: 10px;
    outline: none !important;
    border: none !important;
    border-bottom: none !important;
    background: var(--bg-color);
    color: var(--color);
    option {
      background: var(--bg-color);
      color: var(--color);
    }
  }
  label {
    font-size: 15px !important;
    svg {
      width: 18px;
      height: 18px;
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
  height: fit-content !important;
  position: relative;
  border: none !important;
  .snippet-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
    background: none !important;
    height: fit-content !important;
    border: none !important;
    gap: 20px;
    label {
      color: var(--color);
      display: flex;
      font-weight: bold;
      row-gap: 10px;
      column-gap: 10px;
      flex: 1;
      font-size: 14px !important;
      input {
        padding-block: 10px;
        display: inline-block !important;
        border: none;
        width: 70%;
        border: none !important;
        outline: none;
        background: none;
        &::placeholder {
          // font-weight: bold;
          color: var(--color);
        }
      }
    }
  }
  .editor-section {
    margin: 10px;
    width: 100%;
    .editor-toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      gap: 10px;
      height: fit-content !important;
      background: none;
      border: none !important;
      .editor-tools {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        button {
          height: 40px;
          padding-inline: 10px;
          cursor: pointer;
          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
      #category {
        outline: none;
        border-radius: 5px;
        height: 40px;
        text-align: left;
        padding-inline: 10px;
        option {
        }
      }
    }
  }
  .snippet-meta {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px;
    row-gap: 20px;
    column-gap: 40px;
    .meta-field {
      width: 30%;
      label {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        border-bottom: 0.5px solid var(--accent);
        input {
          padding-block: 10px;
          width: 100%;
          border: none;
          outline: none;
          background: none;
        }
      }
    }
  }
  textarea {
    margin-top: 10px;
    border: none;
    background: none;
    width: 100%;
    resize: vertical;
    outline: none;
    background: var(--bg-color);
    font-family: $mulish;
    padding: 10px;
    border-radius: 5px;
  }
}

.CodeMirror {
  background: var(--bg-color) !important;
  border-radius: 5px !important ;
}
.CodeMirror-gutter {
  background: var(--accent) !important;
}
.add-readme {
  padding: 10px;
  border-radius: 5px;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  &:hover {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
  }
}
.readme-container {
  background: var(--bg-color);
  width: 100%;
  .readme-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
}

.cursor {
  display: none !important;
}

.editor-toolbar {
  background: var(--accent);
}
#readme_title {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  input {
    background: var(--accent);
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
}
#readme_desciption {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  textarea {
    background: var(--accent);
    padding: 10px;
    margin: 0 !important;
    border: none;
    outline: none;
    border-radius: 5px;
  }
}
.btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  button {
    border: none !important;
  }
  .cancel {
    background: pink !important;
  }
}
