.followers {
  display: flex;
  // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  flex-wrap: wrap;
  gap: 40px;
  justify-content: start;
  align-items: center;
  .follower {
    list-style: none;
    background: var(--bg-color);
    padding: 10px;
    border-radius: 10px;
    max-width: 200px;
    .avator {
      width: 100%;
      max-height: 200px;
      overflow: hidden;
      border-radius: 10px;
      .menu_top {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          width: 20px;
          height: 20px;
          // stroke: ;
        }
        &:hover {
          background-color: var(--accent);
          backdrop-filter: blur(10px);
          border: 1px solid var(--accent);
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
    .userDetails {
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      gap: 1px;
      max-width: 200px;
    }
    .btns {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
