.loader_container {
  position: fixed;
  inset: 0;
  background: var(--bg-color);
  display: flex;
  svg {
    fill: var(--color);
  }
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 999999999999999999999999;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loader_container.hide {
  opacity: 0;
  transform: scale(0.96);
  pointer-events: none;
}
