body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .div1 {
      width: 30%;
      img {
        margin: 5% 0 0 0;
        border-radius: 10px;
      }
      height: 100vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      h1,
      h4 {
        text-align: center;
        font-family: "Segoe UI", Tahoma, sans-serif;
        margin: 4px;
      }
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      form {
        padding-bottom: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
        .google_login {
          display: flex;
          width: 350px;
          gap: 10px;
          text-transform:capitalize;
          align-items: center;
          padding: 0;
          justify-content: center !important;
          background: rgb(255, 255, 255);
          box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.377);
          border: 0.5px solid rgba(131, 131, 131, 0.384);
          border-radius: 5px;
          padding: 5px;
          cursor: pointer;
          img {
            width: 40px;
            padding: 0;
            margin: 0;
          }
        }
        .github_login {
          display: flex;
          width: 350px;
          align-items: center;
          padding: 0;
          gap: 10px;
          text-transform:capitalize;
          justify-content: center !important;
          background: rgb(255, 255, 255);
          box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.377);
          border: 0.5px solid rgba(131, 131, 131, 0.384);
          border-radius: 5px;
          padding: 5px;
          cursor: pointer;
          img {
            width: 40px;
            padding: 0;
            margin: 0;
          }
        }
        a {
          text-decoration: none;
          color: #000;
          font-family: "Segoe UI", Tahoma, sans-serif;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
        span {
          display: flex;
          flex-direction: column;
          border-radius: 10px;
          width: 350px;
          margin: 10px;
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
          gap: 10px;
          sup {
            color: red;
          }
          input,
          select {
            padding: 15px;
            background: rgb(255, 255, 255);
            box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.377);
            border: 0.5px solid rgba(131, 131, 131, 0.384);
            outline: none;
            border-radius: 5px;
            width: 100%;
            font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
              "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
            box-sizing: border-box;
          }
        }
        button {
          border: none;
          background: #000;
          color: white;
          width: 350px;
          padding: 20px 40px;
          border-radius: 5px;
        }
      }
    }
    .div2 {
      width: 70%;
      height: 100vh;
      position: relative;
      .credit {
        position: absolute;
        bottom: 2%;
        right: 10px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        filter: invert(10%) grayscale(10%) hue-rotate(40deg);
        a {
          text-decoration: none;
          color: black;
        }
      }
      img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        pointer-events: none;
      }
    }
  }
}
