body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(40deg, rgb(243, 241, 118), rgb(196, 219, 235));
    .div1 {
      z-index: 10000;
      width: 30%;
      min-width: 400px;
      img {
        margin: 5% 0 0 0;
        border-radius: 10px;
      }
      height: 100vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      h1,
      h4 {
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        margin: 4px;
        font-weight: 400;
      }
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      form {
        padding-bottom: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 5px;
        .external {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          width: 100%;
          margin: 10px;
          padding-inline: 50px;
          .google_login,
          .github_login {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            padding: 5px 30px;
            border: 1px solid gray;
            border-radius: 100px;
            font-weight: bolder;
            transition: all 0.5s ease;
            &:hover {
              box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
              background: #fff;
              cursor: pointer;
              border: 1px solid transparent;
            }
            img {
              width: 30px;
            }
            a {
              text-decoration: none;
            }
          }
        }
        a {
          text-decoration: none;
          color: #181818;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
          &:hover {
            text-decoration: none;
          }
        }
        span {
          display: flex;
          flex-direction: column;
          border-radius: 10px;
          width: 350px;
          margin: 10px;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
          gap: 10px;
          sup {
            color: red;
          }
          input,
          select {
            padding: 15px;
            background: rgb(255, 255, 255);
            border: none;
            outline: none;
            border-radius: 50px;
            width: 100%;
            font-family: system-ui, -apple-system, BlinkMacSystemFont,
              "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
              "Helvetica Neue", sans-serif;
            box-sizing: border-box;
          }
        }
        button {
          border: none;
          background: #000;
          color: white;
          width: 350px;
          padding: 20px 40px;
          border-radius: 100px;
          font-size: large;
          transition: all 0.5s ease;
          &:hover,
          &:active,
          &:focus {
            outline: 2px dotted gray;
            cursor: pointer;
            outline-offset: 2px;
            transform: scale(1.1);
          }
        }
      }
    }
    .div2 {
      width: 70%;
      height: 100vh;
      padding: 30px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .credit {
        position: absolute;
        bottom: 2%;
        right: 10px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        filter: invert(10%) grayscale(10%) hue-rotate(40deg);
        a {
          text-decoration: none;
          color: black;
        }
      }
      img {
        width: 100%;
        height: 90vh;
        object-fit: cover;
        pointer-events: none;
        border-radius: 300px 50px 50px 50px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .div2 {
    display: none !important;
  }
}
