@import "./variables";

main {
  .top-section {
    display: flex;
    margin-inline: 10px;
    align-items: end;
    .profile-image {
      padding: 10px;
      border-radius: 10px;
      animation: rotateBackground 1s linear infinite;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 230px;
      height: 230px;
      min-width: 230px;
      width: 230px;
      img {
        object-fit: cover;
        border-radius: 10px;
        width: 100%;
        height: 100%;
      }
    }
    .user-info {
      margin-inline: 20px;
      .user-name {
        font-size: 20px;
        text-transform: capitalize;
      }
      .userfollow {
        display: flex;
        align-items: center;
        margin-top: 10px;
        float: left !important;

        span {
          border-radius: 5px;
          font-weight: bolder;
          border: 1px solid transparent;
          transition: all 0.5s ease;
          &:hover {
            cursor: pointer;
            background: var(--secondary-bg-color);
            border: 1px solid var(--accent);
          }
        }
      }
      .address {
        width: 300px;
        width: 300px;
        background: none;
        border: none;
        outline: none;
        color: var(--color);
        font-size: 15px;
        color: var(--color);
      }
      .bio {
        -webkit-line-clamp: 3;
        line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        width: 300px;
      }
      .links {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        a {
          width: 40px;
          height: 40px;
          border-radius: 50% !important;
          display: flex;
          img{
            border-radius: 0 !important;
          }
          justify-content: center;
          align-items: center;
          transition: all 0.5s ease;
          &:hover {
            background: var(--accent);
          }
          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
      .btns {
        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        button{
          border: none;
        }
        .contact {
          background: var(--color);
        }
      }
    }
    .counts {
      margin-inline: 20px;
      display: flex;
      align-items: end;
      gap: 100px;
      .followers,
      .following,
      .cards {
        display: flex;
        flex-direction: column;
        span{
          padding: 0;
        }
        & span:nth-child(1) {
          font-size: 15px;
        }
        & span:nth-child(2) {
          font-size: 45px;
          font-weight: bolder;
          color: var(--color);
        }
      }
    }
    .options {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      gap: 20px;
      .visibility,
      .edit_profile {
        cursor: pointer;
        color: var(--color);
      }
    }
  }
  .follow_user {
    margin-block: 10px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 20px;
    .userProfile {
      cursor: pointer;
      min-width: 200px;
      height: 200px;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 10px;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      .user-info {
        text-align: center;
      }
      img {
        width: 30%;
        height: 30%;
        object-fit: cover;
        border-radius: 50px;
      }
    }
  }
  .dashboard {
    margin-top: 30px;
    .d-header {
      border-bottom: 1px solid var(--accent);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10%;
      label {
        padding: 10px 20px;
        border: 1px solid transparent;
        margin: 5px;
        input {
          display: none;
        }
        &:has(input:checked),
        &:hover,
        &:focus {
          background: var(--bg-color);
          border-radius: 10px;
          border: 1px solid var(--accent);
        }
      }
    }
  }
}

.update_profile {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.0002);
  backdrop-filter: blur(200px);
  min-height: 400px;
  min-width: 400px;
  z-index: 1000;
  border-radius: 20px;
  padding: 20px;
}

@keyframes rotateBackground {
  from {
    background-position: left top;
  }
  to {
    background-position: right top;
  }
}

.add-biography {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  width: 400px;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.0002);
  backdrop-filter: blur(20px);
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  border: 1px solid var(--accent);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  transition: all 0.5s ease;
  transform: scale(0);
  &.active {
    transform: translate(-50%, -50%);
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
  textarea {
    background: none;
    width: 100%;
    resize: vertical;
    height: 100px;
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--accent);
    color: var(--color);
    font-family: $mulish;
  }
}

.add-links {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);

  &.active {
    transform: translate(-50%, -50%);
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
  width: 400px;
  background-color: rgba(0, 0, 0, 0.0002);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  position: absolute;
  border: 1px solid var(--accent);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  transition: all 0.5s ease;
  padding-inline: 10px;
}

.links-inputs {
  & > label {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    svg {
      width: 16px;
      height: 16px;
    }
    span {
      display: flex;
      justify-content: start;
      gap: 10px;
      align-items: center;
      font-weight: 400;
      font-size: medium;
    }
    .url {
      display: flex;
      justify-content: start;
      align-items: center;
      cursor: text;
      .delete {
        width: 35px !important;
        height: 35px !important;
        margin: 2px;
        border-radius: 50%;
        transition: all 0.5s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        svg {
          stroke: red;
        }
        &:hover {
          background: var(--accent);
        }
      }
      background: var(--bg-color);
      border-radius: 5px;
      margin-block: 5px;
      span {
        background: var(--accent);
        padding: 10px;
        font-weight: 500;
        font-size: small;
        border-radius: 5px;
        height: 100%;
      }
      &:has(input:focus) {
        outline: 2px solid var(--accent);
        outline-offset: 2px;
      }
      input {
        background: none;
        border: none;
        outline: none;
        width: 75%;
        padding-left: 5px;
        font-family: $mulish;
      }
    }
  }
}

.analytics {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 40px;
  margin: 10px;
  a {
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    svg {
      width: 20px;
      height: 20px;
    }
    &:hover {
      background: var(--accent);
    }
  }
}

.visibility,
.edit_profile,
.share_profile,
.downloadQr {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
  svg {
    width: 20px;
    height: 20px;
  }
  &:hover,
  &:active,
  &:focus {
    background: var(--accent);
  }
}

.share_profile_container {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  &.active {
    transform: translate(-50%, -50%);
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
  transition: all 0.2s ease;
  border: 1px solid var(--accent);
  position: fixed;
  box-shadow: 0 0 10px var(--accent);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
  padding: 10px;
  background: rgba(0, 0, 0, 0.0002);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  z-index: 10;
  gap: 10px;
  .qr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    svg {
      border-radius: 10px;
    }
  }
  label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--accent);
    span {
      padding: 10px;
      background: var(--accent);
      display: flex;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-right: 1px solid var(--accent);
      border-top: 1px solid var(--accent);
      border-bottom: 1px solid var(--accent);
    }
    input {
      border: none;
      background: none;
      width: 100%;
      padding-inline: 10px;
      font-family: $mulish;
      outline: none;
    }
  }
}

.edit_profile_picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.0002);
  backdrop-filter: blur(2px);
  box-shadow: 0px 0px 100px var(--color);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.2s ease;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
