main {
  .top-section {
    display: flex;
    align-items: end;
    margin-inline: 10px;
    .profile-image {
      padding: 10px;
      background: var(--accent);
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 200px;
        height: 200px;
        border-radius: 50px;
      }
    }
    .user-info {
      margin: 20px;
      .user-name {
        font-size: 20px;
        text-transform: capitalize;
      }
      .userfollow {
        display: flex;
        align-items: center;
        margin-top: 10px;
        span {
          border-radius: 5px;
          font-weight: bolder;
          border: 1px solid transparent;
          transition: all 0.5s ease;
          &:hover {
            cursor: pointer;
            background: var(--secondary-bg-color);
            border: 1px solid var(--accent);
          }
        }
      }
      .address {
        width: 300px;
        width: 300px;
        background: none;
        border: none;
        outline: none;
        color: var(--color);
        font-size: 15px;
        color: var(--color);
      }
      .btns {
        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        .follow {
          background: var(--color);
          color: var(--secondary-bg-color);
        }
      }
    }
    .counts {
      margin: 20px;
      display: flex;
      align-items: end;
      gap: 100px;
      .followers,
      .following,
      .cards {
        display: flex;
        flex-direction: column;
        & span:nth-child(1) {
          font-size: 15px;
        }
        & span:nth-child(2) {
          font-size: 45px;
          font-weight: bolder;
          color: var(--color);
        }
      }
    }
    .options {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      gap: 50px;
      .visibility,
      .edit_profile {
        cursor: pointer;
        color: var(--color);
      }
    }
  }
  .follow_user {
    margin-block: 10px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 20px;
    .userProfile{
      cursor: pointer;
      min-width: 200px;
      height: 200px;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 10px;
      background: rgba(0, 0, 0, .2);
      border-radius: 20px;
      .user-info{
        text-align: center;
      }
      img{
        width: 30%;
        height: 30%;
        object-fit: cover;
        border-radius: 50px;
      }
    }
  }
  .dashboard {
    margin-top: 30px;
    .d-header {
      border-bottom: 1px solid var(--accent);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10%;
      label {
        padding: 10px 20px;
        border: 1px solid transparent;
        margin: 5px;
        input {
          display: none;
        }
        &:has(input:checked),
        &:hover,
        &:focus {
          background: var(--bg-color);
          border-radius: 10px;
          border: 1px solid var(--accent);
        }
      }
    }
  }
}


.update_profile{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .0002);
  backdrop-filter: blur(200px);
  min-height: 400px;
  min-width: 400px;
  z-index: 1000;
  border-radius: 20px;
  padding: 20px;

}