// body {
//   margin: 0;
//   padding: 0;
//   overflow: hidden;
//   user-select: none;
//   h1,
//   h2,
//   h3,
//   h4,
//   h5,
//   h6 {
//     margin: 0;
//     padding: 0;
//   }
//   .container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     .div1 {
//       min-width: 400px;
//       img {
//         margin: 5% 0 0 0;
//         border-radius: 10px;
//       }
//       height: 100vh;
//       display: flex;
//       align-items: center;
//       flex-direction: column;
//       h1,
//       h4 {
//         text-align: center;
//         font-family: "Segoe UI", Tahoma, sans-serif;
//         margin: 4px;
//       }
//       overflow-y: scroll;
//       form {
//         .error {
//           color: red;
//           font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
//             Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
//             sans-serif;
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           padding: 10px 40px;
//           border-radius: 10px;
//           z-index: 10000000000000;
//         }
//         padding-bottom: 40px;
//         display: flex;
//         justify-content: center;
//         flex-direction: column;
//         align-items: center;
//         width: 100%;
//         gap: 10px;
//         a {
//           text-decoration: none;
//           color: #000;
//           font-family: "Segoe UI", Tahoma, sans-serif;
//           &:hover {
//             text-decoration: underline;
//           }
//         }
//         span {
//           display: flex;
//           flex-direction: column;
//           border-radius: 10px;
//           width: 350px;
//           margin: 10px;
//           font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
//             sans-serif;
//           gap: 10px;
//           sup {
//             color: red;
//           }
//           input,
//           select {
//             padding: 15px;
//             background: rgb(255, 255, 255);
//             box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.377);
//             border: 0.5px solid rgba(131, 131, 131, 0.384);
//             outline: none;
//             border-radius: 5px;
//             width: 100%;
//             left: 0;
//             font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
//               "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
//             box-sizing: border-box;
//             &:invalid {
//               border: 1px solid red;
//             }
//           }
//         }
//         button {
//           border: none;
//           background: #000;
//           color: white;
//           width: 350px;
//           padding: 20px 40px;
//           border-radius: 5px;
//         }
//       }
//     }
//   }
// }


