header {
  display: flex;
  z-index: 10000;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-inline: 10px;
  height: 70px;
  z-index: 99999999;
  border: none !important;
  border-bottom: 1px solid var(--accent) !important;
  // box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: bolder;
    svg {
      cursor: pointer;
      width: 24px;
      height: 24px;
    }
    svg {
      // width: 40px;
      object-fit: cover;
      margin-left: 10px;
      cursor: pointer;
    }
    .lg {
      &:hover {
        text-decoration: underline;
      }
      svg {
        width: 40px !important;
        height: 40px !important;
        fill: var(--color);
      }
    }
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .filter,
    .notification,
    .help,
    .profile,
    .voiceCommand,
    .music {
      width: 50px;
      cursor: pointer;
      height: 50px;
      transition: all 0.5s ease;
      border-radius: 100px;
      border-radius: 50%;
      img {
        border-radius: 100px;
        object-fit: cover;
      }
      display: flex;
      &:hover {
        background: var(--accent);
      }
      justify-content: center;
      align-items: center;
      svg {
        width: 23px;
        height: 23px;
      }
    }
    .backButton {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #000;
    }
    .notification {
      position: relative;
      .number {
        position: absolute;
        top: 2%;
        right: 2%;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: red;
        text-align: center;
        color: #fff;
        width: 20px;
        height: 20px;
        font-size: x-small;
        border: 2px solid var(--bg-color);
      }
    }
    .profile {
      z-index: 100000000000;
      position: relative;
      padding: 10px;
      img {
        max-width: 45px;
        min-width: 45px;
        max-height: 45px;
        min-height: 45px;
        border: 0.5px solid gary;
        border-radius: 50px;
        object-fit: cover;
      }
      .profile-bar {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: all 0.2s ease;
        &.active {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
        hr {
          outline: none;
          border: none;
          height: 1px;
          background: var(--accent);
        }
        position: absolute;
        width: 300px;
        height: auto;
        padding: 10px;
        border-radius: 10px;
        background: var(--bg-color);
        backdrop-filter: blur(10px);
        border: 1px solid var(--accent);
        top: 115%;
        right: 10px;

        .header {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 10px;
          margin-block: 5px;
          .name {
            display: flex;
            flex-direction: column;
            font-size: 13px !important;

            span:nth-child(1) {
              font-size: 15px;
              font-weight: bolder;
            }
          }
        }
        .menus {
          list-style: none;
          margin-block: 10px;
          li {
            a {
              padding: 10px 10px;
              width: 100%;
              border-radius: 10px;
              display: flex;
              justify-content: start;
              align-items: center;
              gap: 10px;
              outline: none;
              transition: all 0.5s ease;
              svg {
                width: 16px;
                height: 16px;
              }
              &:hover,
              &:focus {
                background: var(--accent);
              }
            }
          }
        }
        .theme {
          input {
            display: none;
          }
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          padding: 10px;
          background: var(--accent);
          border: 1px solid var(--accent);
          border-radius: 10px;
          label {
            cursor: pointer;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            border-radius: 10px;
            &:has(input:checked) {
              background: var(--bg-color);
            }
            svg {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
    .searchResult {
      position: relative;
      width: 40vw;
      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid var(--accent);
        width: 40vw;
        border-radius: 10px;
        padding-inline: 10px;
        padding-block: 5px;
        cursor: pointer;
        transition: all 0.2s ease;
        &:has(input:focus),
        &:hover {
          outline: 2px solid var(--accent);
          outline-offset: 2px;
        }
        input {
          padding-block: 10px;
          padding-inline: 5px;
          width: 90%;
          border: none;
          border-radius: 50px;
          outline: none;
          font-family: "Segoe UI", Tahoma, sans-serif;

          &::placeholder {
            font-family: "Segoe UI", Tahoma, sans-serif;
            color: var(--color);
          }
          &:not(:placeholder-shown) + kbd {
            display: none;
          }
        }
        svg {
          width: 23px !important;
          height: 23px !important;
        }
      }
      .results {
        box-shadow: var(--box-shadow);
        position: absolute;
        top: 110%;
        left: 0;
        width: inherit;
        z-index: 100000;
        background:var(--bg-color);
        backdrop-filter: blur(10px);
        padding: 10px;
        display: none;
        &.active {
          display: block !important;
        }
        border-radius: 10px;
        ul {
          list-style: none;
          max-height: 400px;
          overflow-y: scroll;
          li {
            a {
              &:hover:focus {
                background: var(--bg-color);
                border-radius: 10px;
              }
              svg {
                width: 20px;
                height: 20px;
              }
              font-size: small;
              padding: 5px 10px;
            }
          }
        }
      }
    }
  }
}

.backButton:hover,
.sidebar:hover {
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--accent);
}

.backButton,
.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  svg {
    margin: 0 !important;
  }
}

.music.active {
  transform: rotate(0);
  animation: playing 1s linear infinite;
}

@keyframes playing {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}



